
# import
import(
    wpp2019, data.table
)
importFrom(car, logit)

#exportPattern("^[[:alpha:]]+")
useDynLib(bayesLifeHIV, .registration = TRUE)

# export functions
export(
	run.e0hiv.mcmc,
	e0hiv.predict,
	compute.hiv.loess,
	compute.hiv.residuals,
	scale.hiv.trajectories,
	hiv.countries.pred,
	hiv.countries.est,
	e0hiv.meta.ini,
	e0hiv.mcmc.sampling,
	generate.e0hiv.trajectory,
	e0hiv.get.dlcurves,
	using.bayesLifeHIV
)

# register S3 methods
