
# import
import(
    bayesTFR, bayesLife, wpp2017
)
#importFrom(car, dataEllipse, logit)
#importFrom("utils", "data")
#importFrom("graphics", "abline", "grid", "legend", "lines", "plot", "points", "text")
#importFrom("grDevices", "rainbow")
#importFrom("stats", "dgamma", "dnorm", "dunif", "median", "pnorm", "quantile", "rexp", "rgamma", "rnorm", "rt", "runif", "sd")

#exportPattern("^[[:alpha:]]+")
useDynLib(bayesLifeHIV, .registration = TRUE)

# export functions
export(
	run.e0hiv.mcmc,
	e0hiv.predict,
	compute.hiv.loess,
	compute.hiv.residuals,
	scale.hiv.trajectories,
	hiv.countries.pred,
	hiv.countries.est,
	e0hiv.meta.ini,
	e0hiv.mcmc.sampling,
	generate.e0hiv.trajectory,
	e0hiv.get.dlcurves
)

# register S3 methods
